.row {
  display: flex;
}

.column-half {
  flex-basis: 50%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
  display: flex;
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
  padding: 15px 15px 15px 3rem;
}
