.header {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
  color: white;
  margin: 5px 0;
}

.hidden {
  display: none;
}

.header-container {
  background-color: #829f7a;
}

.fixed-container {
  max-width: 900px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.card {
  border: 1px solid gray;
  width: 100%;
  margin: 12px auto;
  border-radius: 5px;
  height: 225px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal {
  border-radius: 5px;
  height: 260px;
  width: 400px;
  margin: auto;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 0.7rem 1rem;
}

.margin-zero-auto {
  margin: 0 auto;
}

.header-margin-padding {
  margin: 0 auto;
  padding: 0 15px;
}

.close-modal {
  border: none;
  background-color: white;
  font-size: 1.8rem;
  padding: 0;
}

.go-to-bookmark {
  font-size: 1rem;
  background-color: #829f7a;
  color: white;
  width: 12rem;
  height: 2.85rem;
  border-radius: 4px;
  margin: auto 0 0 0;
  text-decoration: none;
  border: none;
}

.bookmark-button-margin {
  margin: 1rem auto;
}

.nav-button {
  background-color: #829f7a;
  border: none;
  font-size: 1.8rem;
  color: white;
}

.search-img {
  width: 90%;
  position: relative;
}

.search-bar-container {
  position: absolute;
  width: 350px;
}

.search-bar {
  border: solid 1px;
  border-radius: 5px 0 0 5px;
  font-size: 1.5rem;
  padding: 0 8px;
  border-right: none;
}

.results-margin {
  margin: 0 15px;
}

.back-margin {
  margin: 1rem 0 0 15px;
}

.genre-margin {
  margin: 0 0 10px 0;
}

.search-margin {
  margin: 3rem 3rem 0 3rem;
}

.search-icon {
  border: solid 1px black;
  height: 40px;
  background-color: white;
  color: rgb(66, 66, 66);
  font-size: 1.2rem;
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.margin-auto {
  margin: auto;
}

.detail-margin {
  margin: 0 30px;
}

.flex-column {
  flex-direction: column;
  display: flex;
}

.image-width {
  width: 50%;
  height: 90%;
}

.result-title {
  margin: 0 0 10px 0;
}

.result-author {
  margin: 0;
  font-size: 0.9rem;
}

.column-height {
  height: 250px;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-zero {
  margin: 0;
}

.margin-side {
  margin: 8px 8px 9px 0;
}

.genre-color {
  color: #7e7e7e;
}

.star-size {
  font-size: 1.3rem;
}

.reviews {
  margin: 0 0 12px 0;
  font-size: 0.9rem;
}

.summary-size {
  font-size: 0.95rem;
}

.padding-zero {
  padding: 0;
}

.bookmark-message {
  margin: 5rem 0;
}

.detail-button {
  font-size: 1rem;
  background-color: #7e7e7e;
  color: white;
  padding: 0.5rem 4rem;
  border-radius: 4px;
  margin: auto 0 0 0;
  text-decoration: none;
  border: none;
}

.detail-bookmark-button {
  font-size: 1rem;
  background-color: #7e7e7e;
  color: white;
  width: 13rem;
  height: 2.5rem;
  border-radius: 4px;
  margin: auto 0 0 0;
  text-decoration: none;
  border: none;
}

.card-bookmark-button {
  border: none;
  background-color: white;
  font-size: 1.25rem;
  padding: 0;
}

.back-button {
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
  padding: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

i {
  margin: 8px;
}

input:focus {
  outline: none;
  border: 1px black solid;
  border-right: none;
}

button:hover {
  cursor: pointer;
}

#search-button:active {
  background-color: #eff7ef;
}

.nav-button:active {
  color: #d1d1d1;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 900px;
  }

  .search-bar {
    width: 70%;
    font-size: 1.2rem;
  }

  .image-width {
    width: 100%;
    height: 100%;
  }
}
